[Unit]
Description=Copyparty Server
After=network.target

[Service]
Type=simple
# We point to the sfx script, pass the config file, and mount the media folder
ExecStart=/usr/bin/python3 %h/CODE/.copyparty/copyparty-sfx.py -c %h/CODE/.copyparty/conf/copyparty.conf -v %h/CODE::r
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
