[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
After=systemd-udev-settle.service

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg /etc/kanata/kanata.kbd --no-wait
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
